* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* BRAND COLORS */

  --primaryColorRed: #d41443;
  --primaryColorRose: #ffa5ba;

  --secondaryColorStrawberry: #ffb8ca;
  --secondaryColorCoffee: #f0d1a5;
  --secondarColorPistachio: #c2e297;

  --backgroudColorDark: $secondaryColorStrawberry;
  --backgroundCOlorLight: #fff5f6;

  --buttonHoverColorRed: #c7133e;
  --buttonHoverColorGray: #ecebeb;

  --blackColor: #000;
  --whiteColor: #fff;

  --descTextColor: #907e82;
  --borderColor: #e1e1e1;

  /* FONTS */

  --headerFont: "Titan One";
  --paragraphFont: "DM Sans";

  /* BREAKPONTS */

  --breakpointPhoneEnd: 767px;
  --breakpointTabletStart: 768px;
  --breakpointTabletEnd: 1279px;
  --breakpointDesktopStart: 1280px;

  /* TRANSITIONS */

  --transitionDurationDefault: 250ms;
  --transitionTimingDefault: cubic-bezier(0.4, 0, 0.2, 1);

  /* OTHER */

  --buttonBorderRadius: 24px;
  --BPointPhoneStart: 100px;
  --BPointPhoneEnd: 767px;
  --BPointTabletStart: 768px;
  --BPointtTabletEnd: 1199px;
  --BPointDesktopStart: 1200px;
}

/*
@media screen and (min-width: 100px) and (max-width: 767px) {
  .gallery {
    display: none;
  }
} */

@media screen and (min-width: 100px) and (max-width: 767px) {
  .gallery__img {
    border-radius: 10px;
  }

  .gallery__img--bigimg {
    border-radius: 10px;
  }
}
*/ .container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.gallery {
  position: relative;
  width: 100%;
  background-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 245, 246, 1) 50%
  );
}

.gallery__grid-absolute {
  position: absolute;
  top: -4%;
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  gap: 15px;
  height: 100%;
}

.gallery__img {
  border-radius: 30px;
  display: block;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.gallery__img--bigimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}

.gallery__img:hover,
.gallery__img--bigimg:hover {
  transform: scale(1.2);
  transition-timing-function: var(--transitionTimingDefault);
  transition-duration: var(--transitionDurationDefault);
  position: relative;
  z-index: 2;
}

.gallery__img-box {
  width: 100%;
  height: 65%;
  display: block;
  margin: 0 auto;
}

.gallery__img-box--big {
  height: 120%;
  width: 100%;
}

.gallery__item-0 {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-row-end: 4;
  grid-column-end: 2;
  position: relative;
  top: -10%;
}
.gallery__item-1 {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-column-end: 3;
  position: relative;
  top: 20%;
}
.gallery__item-2 {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  position: relative;
  bottom: -55%;
}

.gallery__item-3 {
  grid-row-start: 3;
  grid-column-start: 3;
  grid-row-end: 4;
  grid-column-end: 4;
  position: relative;
  top: 55%;
}
.gallery__item-4 {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 5;
  position: relative;
  bottom: -35%;
}
.gallery__item-5 {
  grid-row-start: 3;
  grid-column-start: 5;
  grid-row-end: 4;
  grid-column-end: 6;
  position: relative;
  top: 25%;
}
.gallery__item-6 {
  grid-row-start: 2;
  grid-column-start: 5;
  grid-row-end: 3;
  grid-column-end: 6;
  position: relative;
  bottom: -60%;
}
.gallery__item-7 {
  grid-row-start: 3;
  grid-column-start: 6;
  grid-row-end: 4;
  grid-column-end: 7;
}
.gallery__item-8 {
  grid-row-start: 2;
  grid-column-start: 6;
  grid-row-end: 3;
  grid-column-end: 7;
  position: relative;
  top: 35%;
}
.gallery__item-9 {
  grid-row-start: 3;
  grid-column-start: 7;
  grid-row-end: 4;
  grid-column-end: 8;
  object-fit: cover;
  position: relative;
  top: -15%;
}

/*
.gallery { 

@media screen and (min-width: 100px) and (max-width: 767px) {
  display: none; 
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
 background-image: url("../img/gallery-tab.png");

}

@media screen (min-width: 1200px) {
 background-image: url("./img/gallery-pc.png")


}
}
 */
