body {
  background-color: teal;
}

:root {
  /* BRAND COLORS */

  --primaryColorRed: #d41443;
  --primaryColorRose: #ffa5ba;

  --secondaryColorStrawberry: #ffb8ca;
  --secondaryColorCoffee: #f0d1a5;
  --secondarColorPistachio: #c2e297;

  --backgroudColorDark: $secondaryColorStrawberry;
  --backgroundCOlorLight: #fff5f6;

  --buttonHoverColorRed: #c7133e;
  --buttonHoverColorGray: #ecebeb;

  --blackColor: #000;
  --whiteColor: #fff;

  --descTextColor: #907e82;
  --borderColor: #e1e1e1;

  /* FONTS */

  --headerFont: "Titan One";
  --paragraphFont: "DM Sans";

  /* BREAKPONTS */

  --breakpointPhoneEnd: 767px;
  --breakpointTabletStart: 768px;
  --breakpointTabletEnd: 1279px;
  --breakpointDesktopStart: 1280px;

  /* TRANSITIONS */

  --transitionDurationDefault: 250ms;
  --transitionTimingDefault: cubic-bezier(0.4, 0, 0.2, 1);

  /* OTHER */

  --buttonBorderRadius: 24px;
  --BPointPhoneStart: 100px;
  --BPointPhoneEnd: 767px;
  --BPointTabletStart: 768px;
  --BPointtTabletEnd: 1199px;
  --BPointDesktopStart: 1200px;
}



/*
.gallery {

@media screen and (min-width: 100px) and (max-width: 767px) {
  display: none; 
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
 background-image: url("../img/gallery-tab.png");

}

@media screen (min-width: 1200px) {
 background-image: url("./img/gallery-pc.png")


}


.first-half {
  background-color: var(--primaryColorRose);
  width: 100vw;
  height: 50vh;
  
}

.secound-half {
  background-color: var(--backgroundCOlorLight);
  width: 100vw;
  height: 50vh;
}

 MASONRY 

.parent {
display: grid;
grid-template-columns: repeat(7, 1fr);
grid-template-rows: repeat(7, 1fr);
grid-column-gap: 5px;
grid-row-gap: 5px;
}
 
.parent div {
  width: 200px;
  height: 200px;
}


.div1 { grid-area: 4 / 1 / 5 / 2; 
background-color: antiquewhite;}

.div2 { grid-area: 4 / 2 / 5 / 3;
background-color: antiquewhite; }

.div3 { grid-area: 3 / 2 / 4 / 3; 
background-color: antiquewhite;}

.div4 { grid-area: 4 / 3 / 5 / 4; 
background-color: antiquewhite;}

.div5 { grid-area: 3 / 3 / 4 / 4; 
background-color: antiquewhite;}

.div6 { grid-area: 4 / 4 / 5 / 5; 
background-color: antiquewhite;}

.div7 { grid-area: 3 / 4 / 4 / 5; 
background-color: antiquewhite;}

.div8 { grid-area: 4 / 5 / 5 / 6; 
background-color: antiquewhite;}

.div9 { grid-area: 3 / 5 / 4 / 6; 
background-color: antiquewhite;}

.div10 { grid-area: 4 / 6 / 5 / 7; 
background-color: antiquewhite;} 

*/
