:root {
  /* BRAND COLORS */

  --primaryColorRed: #d41443;
  --primaryColorRose: #ffa5ba;

  --secondaryColorStrawberry: #ffb8ca;
  --secondaryColorCoffee: #f0d1a5;
  --secondarColorPistachio: #c2e297;

  --backgroudColorDark: $secondaryColorStrawberry;
  --backgroundCOlorLight: #fff5f6;

  --buttonHoverColorRed: #c7133e;
  --buttonHoverColorGray: #ecebeb;

  --blackColor: #000;
  --whiteColor: #fff;

  --descTextColor: #907e82;
  --borderColor: #e1e1e1;

  /* FONTS */

  --headerFont: "Titan One";
  --paragraphFont: "DM Sans";

  /* BREAKPONTS */

  --breakpointPhoneEnd: 767px;
  --breakpointTabletStart: 768px;
  --breakpointTabletEnd: 1279px;
  --breakpointDesktopStart: 1280px;

  /* TRANSITIONS */

  --transitionDurationDefault: 250ms;
  --transitionTimingDefault: cubic-bezier(0.4, 0, 0.2, 1);

  /* OTHER */

  --buttonBorderRadius: 24px;
  --BPointPhoneStart: 100px;
  --BPointPhoneEnd: 767px;
  --BPointTabletStart: 768px;
  --BPointtTabletEnd: 1199px;
  --BPointDesktopStart: 1200px;
}

.gallery {
  position: relative;
}

@media screen and (min-width: 100px) and (max-width: 767px) {
  .gallery {
    display: none;
  }
}

.first-half {
  background-color: var(--secondaryColorStrawberry);
  width: 100vw;
  height: 50vh;
}

.secound-half {
  background-color: var(--backgroundCOlorLight);
  width: 100vw;
  height: 50vh;
}

.grid-absolute {
  position: absolute;
  top: -4%;
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  gap: 10px;
  height: 100%;
}

.x {
  border-radius: 50px;
  display: block;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.bigimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-0 {
  background-color: #adce77;
  grid-row-start: 3;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 2;
}
.item-1 {
  background-color: #97b5df;
  grid-row-start: 3;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 3;
}
.item-2 {
  background-color: #85fbc9;
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 3;
  grid-column-end: 3;
}
.item-3 {
  background-color: #ed6d76;
  grid-row-start: 3;
  grid-column-start: 3;

  grid-row-end: 4;
  grid-column-end: 4;
}
.item-4 {
  background-color: #e9be59;
  grid-row-start: 2;
  grid-column-start: 3;

  grid-row-end: 3;
  grid-column-end: 5;
}
.item-5 {
  background-color: #5699bb;
  grid-row-start: 3;
  grid-column-start: 5;

  grid-row-end: 4;
  grid-column-end: 6;
}
.item-6 {
  background-color: #b78e79;
  grid-row-start: 2;
  grid-column-start: 5;

  grid-row-end: 3;
  grid-column-end: 6;
}
.item-7 {
  background-color: #dfb75e;
  grid-row-start: 3;
  grid-column-start: 6;

  grid-row-end: 4;
  grid-column-end: 7;
}
.item-8 {
  background-color: #5cc8f8;
  grid-row-start: 2;
  grid-column-start: 6;

  grid-row-end: 3;
  grid-column-end: 7;
}
.item-9 {
  background-color: #5abb5b;
  grid-row-start: 3;
  grid-column-start: 7;

  grid-row-end: 4;
  grid-column-end: 8;
}

/*
.gallery {

@media screen and (min-width: 100px) and (max-width: 767px) {
  display: none; 
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
 background-image: url("../img/gallery-tab.png");

}

@media screen (min-width: 1200px) {
 background-image: url("./img/gallery-pc.png")


}



 MASONRY 

.parent {
display: grid;
grid-template-columns: repeat(7, 1fr);
grid-template-rows: repeat(7, 1fr);
grid-column-gap: 5px;
grid-row-gap: 5px;
}
 
.parent div {
  width: 200px;
  height: 200px;
}


.div1 { grid-area: 4 / 1 / 5 / 2; 
background-color: antiquewhite;}

.div2 { grid-area: 4 / 2 / 5 / 3;
background-color: antiquewhite; }

.div3 { grid-area: 3 / 2 / 4 / 3; 
background-color: antiquewhite;}

.div4 { grid-area: 4 / 3 / 5 / 4; 
background-color: antiquewhite;}

.div5 { grid-area: 3 / 3 / 4 / 4; 
background-color: antiquewhite;}

.div6 { grid-area: 4 / 4 / 5 / 5; 
background-color: antiquewhite;}

.div7 { grid-area: 3 / 4 / 4 / 5; 
background-color: antiquewhite;}

.div8 { grid-area: 4 / 5 / 5 / 6; 
background-color: antiquewhite;}

.div9 { grid-area: 3 / 5 / 4 / 6; 
background-color: antiquewhite;}

.div10 { grid-area: 4 / 6 / 5 / 7; 
background-color: antiquewhite;} 

*/
